body {
    background-color: aliceblue;
}

.hover {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffffda;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 0 grey;
    width: 300px;
    pointer-events: none;

    &[show='no'] {
        display: none;
    }

    &>h2 {
        font-size: inherit;
    }

    &>ul {
        &>li {

            display: inline-block;
            width: 50%;

            &::before {
                content: "◆";
                margin-right: 5px;
            }
        }
    }

}

// 谣言
.rumors {
    width: 90%;
    margin: auto;
    line-height: 20px;
    margin-top: 50px;

    thead {
        white-space: nowrap;

        &>tr {
            background-color: #c1bcbc;
            border: 1px solid #c1bcbc;
            color: #fff;
        }
    }

    tbody {
        &>tr {
            &>* {
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: #c1bcbc;

                &:first-child {
                    border-width: 0 1px 1px 1px;
                }
            }

            &:nth-child(2n) {
                background-color: #F5F5F5;
            }

            &:nth-child(2n+1) {
                background-color: #fff;
            }
        }
    }

    th {
        font-size: 12px;
        padding-left: 1em;
    }
}
